# Database (Supabase)
DATABASE_URL="postgresql://postgres.[PROJET]:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJET]:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Auth
JWT_SECRET="eagles-club-jwt-secret-change-in-production-2024"

# UploadThing
UPLOADTHING_TOKEN="[VOTRE_TOKEN_UPLOADTHING]"
NEXT_PUBLIC_UPLOADTHING_APP_ID="[VOTRE_APP_ID_UPLOADTHING]"

# Supabase Client
NEXT_PUBLIC_SUPABASE_URL="https://[PROJET].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[VOTRE_ANON_KEY]"
