# Database (Supabase)
DATABASE_URL="postgresql://postgres.[PROJET]:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJET]:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Auth
JWT_SECRET="eagles-club-jwt-secret-change-in-production-2024"

# UploadThing
UPLOADTHING_SECRET='your_uploadthing_secret_here'
UPLOADTHING_APP_ID='6imfhtqdyo'

# Supabase Client
NEXT_PUBLIC_SUPABASE_URL="https://[PROJET].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[VOTRE_ANON_KEY]"
